# This function forces the load of Test::More and enables the watchfunction.
sub afterinit {
  use Devel::TestEmbed;
  push @DB::typeahead, 'use Test::More qw(no_plan)';
  $trace |= 4;
}

sub watchfunction {
  eval "*".__PACKAGE__."::tdump = \\&tdump"
    if $single || ( $trace & 1 );
  1;
}

1;
